/* Applies to login, signup page forms, and userprofile  */

.main-form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #f9f9f9; 
  text-align: center;
}

.form-item {
  margin-bottom: 20px; 
}

.form-item label {
  display: block;
  margin-bottom: 10px; 
  font-weight: bold; 
}
  
.form-item input {
  width: 100%;
  padding: 8px;
  margin: 0;
  box-sizing: border-box;
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}